<% title "Gallary" %>
<p id="notice"><%= notice %></p>

<h1>Galleries</h1>

<div class="container">
  <% if @galleries.exists? %>
    <% @galleries.each_slice(4) do |image| %>
      <div class="row">
        <% image.each do |image| %>
          <div class="col-lg-3 col-md-4 col-sm-1  justify-content-center align-items-center">
            <img src="<%= image.image_url(:thumb) %>" class="rounded-circle img-fluid" alt="<%= image.name %>">
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
<div>
  <%# if   user_signed_in? %>
    <%= link_to 'New Gallery', new_gallery_path %>
  <%# end %>
</div>

